<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>A1-南非</string>
		<key>image</key>
		<string>SouthAfrica</string>
		<key>detail</key>
		<string>南非，南非</string>
		<key>price</key>
		<string>12.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A2-墨西哥</string>
		<key>image</key>
		<string>Mexico</string>
		<key>detail</key>
		<string>墨西哥，墨西哥</string>
		<key>price</key>
		<string>120.00</string>
	</dict>
</array>
</plist>
