<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string> 儿童文学</string>
		<key>tagID</key>
		<integer>16</integer>
		<key>image</key>
		<string>theme_0.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>计算机</string>
		<key>tagID</key>
		<integer>17</integer>
		<key>image</key>
		<string>theme_2.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>青春文学</string>
		<key>tagID</key>
		<string>21</string>
		<key>image</key>
		<string>theme_3.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>外国文学</string>
		<key>tagID</key>
		<string>6</string>
		<key>image</key>
		<string>theme_4.png</string>
	</dict>
</array>
</plist>
