<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>C1-日本</string>
		<key>image</key>
		<string>Japan</string>
		<key>detail</key>
		<string>安培晋三</string>
		<key>price</key>
		<string>250.00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C2-希腊</string>
		<key>image</key>
		<string>Greece</string>
		<key>detail</key>
		<string>宙斯，宙斯</string>
		<key>price</key>
		<string>89.00</string>
	</dict>
</array>
</plist>
